---
import Layout from '@layouts/Layout.astro';
---

<Layout title="404" description="404">
  <div class="space-y-f-2 font-heading font-extrabold">
    <p class="text-f-lg"><span class="font-medium">re</span>think. <span class="font-medium">re</span>define.</p>
    <h1 class="text-f-6xl leading-none"
      ><span class="font-medium">re</span>do...<br /><span class="font-medium">uh</span> oh!</h1
    >
  </div>

  <div class="space-y-[0.75em]">
    <h2 class="text-f-xl font-extrabold">404</h2>
    <p>Page not found!</p>
  </div>
</Layout>
