---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="redo. rehab."
  description="redo. rehab. is advancing the field of physiotherapy with high-value, patient-centered care based in the latest scientific evidence."
>
  <div class="bg-[url(/background.jpg)] bg-cover bg-center">
    <div class="bg-gradient-to-br from-amber-700/70 via-teal-200/30 to-violet-700/50">
      <div class="container">
        <div class="ml-auto min-h-screen space-y-f-6 max-w-md md:max-w-xl bg-stone-950 pt-f-8 px-f-8">
          <div class="font-heading font-extrabold space-y-f-2">
            <p class="text-f-lg"><span class="font-medium">re</span>think. <span class="font-medium">re</span>define.</p
            >
            <h1 class="text-f-6xl leading-none"
              ><span class="font-medium">re</span>do.<br /><span class="font-medium">re</span>hab.</h1
            >
          </div>
          <div class="space-y-f-2">
            <h2 class="text-f-xl font-extrabold">Physiotherapy is moving fast.</h2>
            <p>
              Or rather, the science is. Practical adoption remains slow, and many health professionals to this day base
              their clinical practice on myths debunked decades ago.
            </p>
            <p>
              Outdated ideas harm people in very real ways. Well-intentioned as they may be, wrong explanations for pain
              and misguided advice on how to manage it can be distressing and disabling.
            </p>
            <p>
              You are capable of so much more than you think. You have the ability to overcome unimaginable obstacles
              and experience incredible personal growth along the way. But to realize your true potential, it takes the
              right environment.
            </p>
            <p>~</p>
            <p>
              My name is Frederik, and I'm among a growing number of "new-school" physiotherapists who work hard to
              evolve the traditional model, pushing the boundaries of our knowledge and skills to give people in pain
              the care they deserve.
            </p>
            <p>
              Building on a foundation of honest, open communication and collaboration, I put <em
                class="not-italic underline">you</em
              >
               at the center of care. Together, we'll learn about your condition, set achievable goals, and build your
              confidence and independence.
            </p>
            <p>
              If what you're currently doing isn't working for you, if it feels like you're going in circles, don't
              hesitate to reach out for a consultation. If I'm not the right person to help you, I'll be the first to
              say it.
            </p>
          </div>
          <p
            ><strong class="font-extrabold">Let's get you on track to getting your life back!</strong><br />
             ↝ <a href="mailto:help@redo.rehab" class="underline hover:text-amber-300">help@redo.rehab</a>
          </p>
          <p>
            <strong class="font-extrabold">Check out my free pain rehab resources!</strong><br />
             ↝ <a class="underline hover:text-amber-300" href="https://bevae.com/" target="_blank">https://bevae.com</a>
          </p>
          <div class="flex items-end">
            <img src="/fred.png" alt="A photo of Fred" width="150" height="150" />
            <p class="pb-f-8 text-f-sm">↜ that's me :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
