---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="redo rehab."
  description="redo rehab. offers best-practice, patient-centered, science-based injury and pain consulting."
>
  <div class="bg-[url(/background.jpg)] bg-cover bg-center">
    <div class="bg-gradient-to-br from-amber-700/70 via-teal-200/30 to-violet-700/50">
      <div class="container">
        <div class="ml-auto min-h-screen max-w-md space-y-f-6 bg-stone-950 px-f-6 pt-f-4 md:max-w-xl">
          <div class="space-y-f-2 font-heading font-extrabold">
            <p class="text-f-lg"><span class="font-medium">re</span>think. <span class="font-medium">re</span>define.</p
            >
            <h1 class="text-f-6xl leading-none"
              ><span class="font-medium">re</span>do<br /><span class="font-medium">re</span>hab.</h1
            >
          </div>
          <div class="space-y-[0.75em]">
            <h2 class="text-f-xl font-extrabold">Physiotherapy is moving fast.</h2>
            <p>
              Or rather, the science is. Translation to the "real world" remains slow, and many health professionals to
              this day base their clinical practice on myths debunked decades ago.
            </p>
            <p>
              Outdated ideas damage people in very real ways. Well-intentioned as they may be, wrong explanations create
              harmful narratives which have the potential to cause further distress and disability.
            </p>
            <h2 class="text-f-xl font-extrabold">A new model is needed.</h2>
            <p>
              My name is Frederik, and I'm one among the growing number of "new school" physiotherapists who work hard
              to evolve the traditional model, pushing the boundaries of our knowledge and skills to give people in pain
              the care they deserve.
            </p>
            <p>
              We're all capable of so much more than we believe. You have the ability to overcome great obstacles and
              experience incredible personal growth along the way. But to realize your innate potential, it takes the
              right environment.
            </p>
            <h2 class="text-f-xl font-extrabold">Let's work together.</h2>
            <p>
              I provide pain/injury consulting and coaching services with a simple, competitive pricing model. Building
              on a foundation of open communication and collaboration, I put <strong>you</strong> at the center of care.
            </p>
            <p>
              Together, we'll work to understand your condition, set achievable goals, and regain your confidence and
              independence. If you aren't sure whether I can be of help, shoot me an email anyways. I don't bite! And if
              I'm not the right person, I'll be the first to say it.
            </p>
            <p>
              If you'd like an overview of my philosophy of care, check out my article, <a
                class="underline hover:text-amber-300"
                href="https://bevae.com/en/articles/choosing-a-clinician/"
                target="_blank">Choosing a Clinician</a
              >. For more information on pricing and practical matters, reach out. I'm happy to answer your questions
              and make sure we're a good fit!</p
            >
          </div>
          <p
            ><strong class="font-extrabold">Let's get you on track to getting your life back!</strong><br />
            <span class="text-f-lg">↝</span>
            <a href="mailto:help@redo.rehab" class="underline hover:text-amber-300">help@redo.rehab</a>
          </p>
          <p>
            <strong class="font-extrabold">Check out my free pain rehabilitation resources!</strong><br />
            <span class="text-f-lg">↝</span>
            <a class="underline hover:text-amber-300" href="https://bevae.com/" target="_blank">https://bevae.com</a>
          </p>
          <div class="flex items-end">
            <img src="/fred.png" alt="A photo of Fred" width="150" height="150" />
            <p class="pb-f-4 text-f-sm"><span class="text-f-base">↜</span> that's me :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
